.todo{
  @include set_content(80%, 80%);
  min-width: 400px;
  max-width: 900px;
  border-radius: 10px;
  background: $white;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  //translateX translateY
  .day{
    font-size: 12px;
    color: #888;
  }
  .total{
    color:$point;
    text-align: right;
  }
  header{
    padding: 30px 40px 15px;
    border-bottom: 1px solid #ededed;
    font-size: 18px;
  }
  .cont{
    padding: 15px 40px 30px;
  }
  .item{
    font-size: 16px;
    line-height: 30px;
    .bx_chk, .text, .btn_delete{
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }
    .bx_chk{
      @include set_content(30px, 30px);
      border-radius: 50%;
      border: 1px solid $gray; 
      text-align: center;
      color:$gray;
      .chk{
        @include set_content(20px, 20px, none);
        vertical-align: middle;
        margin-top: -5px;
      }
    }
    .text{
      padding: 0 30px;
      box-sizing: border-box;
      width: calc(100% - 55px); 
    }
    .btn_delete{
      color:$gray;
      @include set_content(20px, 20px,none);
    }
    &:hover{
      .btn_delete{
        display: inline-block;
      }
    }
    &.done{
      .bx_chk{
        color:$point;
        border-color: $point; 
        .chk{
          display: inline-block;
        }
      }
      .text{
        text-decoration: line-through;
        color:$gray;
      }
    }
  }
}