.todo{
  @include set_content(80%, 80%, '', absolute);
  min-width: 400px;
  max-width: 900px;
  border-radius: 10px;
  background: $white;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  //translateX translateY
  .day{
    font-size: 12px;
    color: #888;
  }
  .total{
    color:$point;
    text-align: right;
  }
  header{
    padding: 30px 40px 15px;
    border-bottom: 1px solid #ededed; 
    font-size: 18px;
  }
  .cont{
    padding: 15px 40px 30px;
    height: calc(100% - 137px);
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
  }
  .item{
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
    .bx_chk, .text, .btn_delete{
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }
    .bx_chk{
      @include set_content(30px, 30px);
      border-radius: 50%;
      border: 1px solid $gray; 
      text-align: center;
      color:$gray;
      .chk{
        @include set_content(20px, 20px, none);
        vertical-align: middle;
        margin-top: -5px;
      }
    }
    .text{
      padding: 0 30px;
      box-sizing: border-box;
      width: calc(100% - 55px); 
    }
    .btn_delete{
      color:$gray;
      @include set_content(20px, 20px,none);
    }
    &:hover{
      .btn_delete{
        display: inline-block;
      }
    }
    &.done{
      .bx_chk{
        color:$point;
        border-color: $point; 
        .chk{
          display: inline-block;
        }
      }
      .text{
        text-decoration: line-through;
        color:$gray;
      }
    }
  }
  .create{
    @include set_content(100%, 100px, block, absolute, #efefef);
    left: 0;
    bottom: 0;
    padding: 20px 40px 30px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    &.hide{
      display: none;
    }
    .bx_ipt{
      @include set_content(100%, 35px, null, relative);
      overflow: hidden;
      border-radius: 10px;
    }
    .ipt{
      @include set_content(100%, 35px);
      border: none;
      font-size: 16px;
      line-height: 35px;
      padding: 0 50px 0 20px;
      box-sizing: border-box;
    }
    .btn_com{
      position:absolute;
      top:0;
      right: 0;
      padding: 0 15px;
      background: $point;
      line-height: 40px;
      color: $white;
      font-size: 20px;
      font-weight: bold;
      z-index: 2;
    }
  }
  .btn_add, .btn_cls{
    @include set_content(60px, 60px, block, absolute);
    color: $white;
    border-radius: 50%;
    font-size: 40px;
    left: 50%;
    bottom: -30px;
    margin-left: -30px;
    transition: all ease 100ms;
  }
  .btn_add{
    background: $point;
  }
  .btn_cls{
    background: #ff7f7f;
    transform: rotate(45deg);
  }
} 