.todo{
  @include set_content(80%, 80%, '', absolute);
  min-width: 400px;
  max-width: 900px;
  border-radius: 10px;
  background: $white;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  //translateX translateY
  .bx_ipt{
    @include set_content(100%, 35px, null, relative);
    overflow: hidden;
    border-radius: 10px;
  }
  .ipt{
    @include set_content(100%, 35px);
    border: none;
    line-height: 35px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .btn_com{
    position:absolute;
    top:0;
    right: 0;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
  }
  .btn_add, .btn_cls{
    @include set_content(60px, 60px, block, absolute);
    color: $white;
    border-radius: 50%;
    font-size: 40px;
    left: 50%;
    bottom: -30px;
    margin-left: -30px;
    transition: all ease 100ms;
  }
  .btn_add{
    background: $point;
  }
  .btn_cls{
    background: #ff7f7f;
    transform: rotate(45deg);
  }
  header{
    padding: 30px 40px 15px;
    border-bottom: 1px solid #ededed; 
  }
  .day{
    color: #888;
    font-size: 16px;
  }
  .cnt{
    color:$point;
    text-align: right;
  }
  .nodate{
    text-align: center;
    font-size: 20px;
    color: $gray;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .cont{
    padding: 15px 0 30px;
    height: calc(100% - 137px);
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
  }
  .unit{
    padding: 10px 40px;
    height: 55px;
    line-height: 35px;
    box-sizing: border-box;
    position: relative;
    &.mv{
      background: #efefef;
      opacity: 0.5;
    }
    .btn_move{
      position: absolute;
      right: 20px;
      top:10px;
      z-index: 3;
      cursor: move;
      opacity: 0.5;
    }
  }
  .item{
    position: relative;
    .bx_chk, .btn_delete,.btn_modi{
      box-sizing: border-box;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      background: rgba($color: $white, $alpha: 0.5);
    }
    .bx_chk{
      @include set_content(25px, 25px);
      border-radius: 50%;
      border: 1px solid $point; 
      color:$point;
      left: 0;
      .chk{
        @include set_content(15px, 15px, none, absolute);
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .text{
      padding: 0 30px 0 40px;
      box-sizing: border-box;
      width: 100%; 
      height: 35px;
      @include ellipsis;
    }
    .btn_delete{
      color:#ff9595;
      display: none;
      padding: 6px 10px;
      right: 0;
      svg{
        @include set_content(20px, 20px);
      }
    }
    .btn_modi{
      color:$point;
      display: none;
      padding: 6px 10px;
      right: 40px;
      svg{
        @include set_content(20px, 20px);
      }
      
    }
    &:hover{
      .btn_delete,.btn_modi{
        display: inline-block;
      }
    }
    &.done{
      .bx_chk{
        color:$gray;
        border-color: $gray; 
        .chk{
          display: inline-block;
        }
      }
      .text{
        text-decoration: line-through;
        color:$gray;
      }
    }
  }
  .modi{
    .ipt{
      padding-right: 80px;
      border-bottom: 1px solid #c6e3ff;
    }
    .btn_com{
      color: $point; 
      right:0px;
    }
    .btn_cls{
      width: auto;
      height: auto;
      border-radius: 0;
      font-size: 20px;
      left: auto;
      right: 40px;
      bottom: auto;
      margin-left: 0;
      transform: rotate(0);
      background: none;
      color: #ff9595;
    }
    .btn_com,.btn_cls{
      padding: 0 10px;
      top:5px;
      line-height: 35px;
    }   
  } 
  .create{
    @include set_content(100%, 100px, block, absolute, #efefef);
    left: 0;
    bottom: 0;
    padding: 20px 40px 30px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    &.hide{
      display: none;
    }
    .ipt{
      padding-right: 50px;
    }
    .btn_com{
      padding: 0 15px;
      background: $point;
      line-height: 40px;
      color: $white;
    }
  }
} 